h1{
  color: white;
  background-color: black;
}

h2 {
  color: red;
  text-shadow: 4px 4px 4px gray;
  
}

.profile-data {
  font-weight: bold;
}

#profile {
  background-color: #DDE7E7;
}

#family {
  background-color: #E7E6D2;
}

#weekdays {
  background-color: lightgreen;
}
